body{
    background-color: #efebfe;
}


.pri{
    display: flex;
    align-items:baseline;
    padding-top: 1em;
    padding-right: 50em;

}
h1{
    font-size: 2.7em;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 3px 3px 7px black;

}

.pri img{
    width: 12em;
    
}
#principal{
    display: flex;
    align-items:flex-start;
    border: 1px solid black;
    align-items: center;
    background: radial-gradient(circle, rgba(28,0,61,1) 0%, rgba(45,45,152,1) 26%, rgba(122,30,89,1) 50%, rgba(45,45,152,1) 73%, rgba(28,0,61,1) 100%);
    font-size:larger;
    margin: 0%;
    color: white;
    flex-direction: column;
    height: 11.3em;

}

ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
    gap: 3px;
}
li{
    background-color:  #1c003d;
    height: 50px;
    text-align: center;
    list-style: none;
    flex-basis: 100%;
    display: flex;
    align-items: center; 
}

li a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    padding: 5px;
    width: 100%;
}
h2{
    background-color: #FF004D;
    color: white;
    padding: 1em;
    font-family: sans-serif;
    text-shadow: 3px 3px 7px #451d53;
    border-radius: 50px;

}
nav{width: 100%; /* Establecer el ancho al 100% */
    box-sizing: border-box;}


#productos1{
    display:flex;
    justify-content: space-around;
    gap: 1em;
}
.item1{
    border: 3px solid black;
    padding: 7em;
    height: 6em;
    width: 4em;
}
#productos2{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1em;
}
.item2{
    border: 3px solid black;
    padding: 60px;
    height: 4em;
}

h2{
    background-color: #FF004D;
    color: white;
    padding: 1em;
    font-family: sans-serif;
    text-shadow: 3px 3px 7px #451d53;
    border-radius: 50px;

}
.item21{
    background-image: url(/img/roma.jpg);
    background-image: initial
}
P{
    font-size: xx-large;
    padding: 5%;
}