body{
    background-color: rgb(248, 240, 254)
}


.pri{
    display: flex;
    align-items:center;
    padding-top: 1em;
    padding-right: 50em;

}
h1{
    font-size: 2.7em;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 3px 3px 7px black;

}

.pri img{
    width: 6em;
    
    
}
#principal{
    display: flex;
    align-items:flex-start;
    border: 1px solid black;
    align-items: center;
    background: radial-gradient(circle, rgba(28,0,61,1) 0%, rgba(45,45,152,1) 26%, rgb(255, 87, 15) 50%, rgba(45,45,152,1) 73%, rgba(28,0,61,1) 100%);
    font-size:larger;
    margin: 0%;
    color: white;
    flex-direction: column;
    height: 11.3em;

}

ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
    gap: 3px;
}
li{
    background-color:  #1c003d;
    height: 50px;
    text-align: center;
    list-style: none;
    flex-basis: 100%;
    display: flex;
    align-items: center; 
}
li:hover{
    background-color: orangered;
}

li a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    padding: 5px;
    width: 100%;
    text-shadow: 2px 2px 3px white;

}
h2{
    background-color: orangered;
    color: white;
    padding: 1em;
    font-family: sans-serif;
    text-shadow: 3px 3px 7px #451d53;
    border-radius: 50px;

}
nav{width: 100%; 
    box-sizing: border-box;}


#productos1{
    display:flex;
    justify-content: space-around;
    gap: 1em;
}
.item1{
    border: 3px solid black;
    padding: 7em;
    height: 6em;
    width: 4em;
}
#productos2{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1em;
}
.item2{
    border: 3px solid black;
    padding: 60px;
    height: 4em;
}

h2{
    background-color: #003cff;
    color: white;
    padding: 1em;
    font-family: sans-serif;
    text-shadow: 3px 3px 7px #451d53;
    border-radius: 50px;

}
.item21{
    background-image: url(/img/roma.jpg);
    background-image: initial
}
P{
    font-size: xx-large;
    padding: 5%;
}
footer{
    background-color: #451d53;
    height: 3em;
    text-align: center;
    padding-top: 1em;


}
footer a{
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
footer a:hover {
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
#sn{
    width: 40%;
    border-radius: 50px;
    margin-top: 2em;

}
#sn h3{
    font-size: 1.8em;
    text-align: center;
    font-family: sans-serif;
    color: #003cff;
    font-weight: bolder;
    text-shadow: 3px 3px 7px #451d53;


}
#sn p{
    font-size:1em;
    font-family: sans-serif;
    padding: 6px;
    text-align: justify;
    padding: 1em;
    font-weight: bold;
    color: #1c003d;

}

#f1{
    display: flex;
}
#f1 img{
    width: 100%;
}
#mp{
display: flex;
flex-direction: column;
padding: 4em;
margin: 3em;
background-color: #1c003d;
color: bisque;
width: 50%;
border-radius: 50px;
}

.tit{
    padding: 0.5em;
    background-color: white;
    color: #451d53;
    border-radius: 30px;
    font-size: 1.8em;
    font-family: sans-serif;
    font-weight: bolder;
    text-shadow: 3px 3px 7px #451d53;
    text-align: center;
}
iframe{
    width: 100%;
    margin-bottom: 2em;
}
#selec{
    background-color: orangered;
}